{% extends "layout.html" %}
{% block title %}ScheduleAPI{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Your new calendar</h1>
    <hr>
    <!-- Random inspirational quotes -->
    <blockquote>
      <p class="lead">The key is not to prioritize what's on your schedule, but to schedule your priorities.</p>
      <footer>Stephen Covey</footer>
    </blockquote>
    <blockquote class="blockquote-reverse">
      <p class="lead">And in the end it's not the years in your life that count. It's the life in your years.</p>
      <footer>Abraham Lincoln </footer>
    </blockquote>
    <blockquote>
      <p class="lead">Life is what happens when you are busy making other plans.</p>
      <footer>John Lennon</footer>
    </blockquote>
  </div>
</div>
{% endblock %}